*{
	padding : 0;
	top : 0;
}
.parent{
position : relative;
height : 100vh;
width : 100vh;
left : 50vh;
right : 50vh;
background: color : black;
	
}

.child{
position : absolute;
height : 100vh;
width : 100vh;
left : 50vh;
right : 50vh;
background: color : black;
	
}